<h2>User info</h2>

  <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", size: "100x100" %>
	<table class="table">
		<tr>
		  <th>name</th>
		  <th><%= user.name %></th>
		</tr>
		<tr>
	      <th>introduction</th>
		  <th><%= user.introduction %></th>
		</tr>
	</table>

	<div class="actions">
		<% if user.id == current_user.id %>
        	<%= link_to edit_user_path(user.id), class: "btn btn-default active col-xs-12" do %>
        		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        		<% end %>
        	<% else %>
            	<%= link_to edit_user_path(user.id), class: "btn btn-default disabled col-xs-12" do %>
        			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        	<% end %>
		<% end %>
	</div>
