<h1>User info</h1>
  <!-- from_forプロフィール画像用フォーム -->
<%= form_for(@user) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

 <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
 </div>

  <div class="field">
    <%= f.label :profile_image %><br />
    <%= f.attachment_field :profile_image, autofocus: true, autocomplete: "profile_image" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
<% end %>