<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>

		<div class="col-xs-9">

			<h1>Editing Book</h1>

			<%= form_for(@book) do |f| %>

			<% if @book.errors.any? %>
			<h4><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h4>
			<ul>
				<% @book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
			<% end %>


			<p>Title<br>
				<%= f.text_field :title %></p>

			<p>Opinion</br>
				<%= f.text_area :body %></p>

				<%= f.submit 'Update Book', class:"btn btn-primary" %>

				<p><%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
				<% end %>
		</div>
	</div>
</div>

