<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/info',user: @user %>
      <%= render 'books/new' ,book: @book_new %>
    </div>
    <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", size: "100x100" %><%= @user.name %></td>
                <% end %>
                  <td><%= @book.title %></td>
                  <td><%= @book.body %></td>
                <% if @user.id == current_user.id %>
                  <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id),  method: :delete, data:{ confirm: '本当に消しますか?' }, class: "btn btn-danger" %></td>
                <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>